@model interpolapi.Models.Channel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Channel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChannelId" />
            <div class="form-group">
                <label asp-for="ChannelName" class="control-label"></label>
                <input asp-for="ChannelName" class="form-control" />
                <span asp-validation-for="ChannelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelDescription" class="control-label"></label>
                <input asp-for="ChannelDescription" class="form-control" />
                <span asp-validation-for="ChannelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityId" class="control-label"></label>
                <select asp-for="CommunityId" class="form-control" asp-items="ViewBag.CommunityId"></select>
                <span asp-validation-for="CommunityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
